.container {
  width: 60%;
  margin: 20px auto;
}

.project {
  padding: 15px;
  background: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message {
  font-size: 18px;
  font-weight: 600;
}

.email {
  font-size: 14px;
  color: #777;
}

.time {
  font-size: 12px;
  color: #999;
}
